body {
    background: rgb(155, 227, 240);
    text-align: center;
    }
h1 {
    color: darkorange;
}
p {
    text-align: justify;
    font-size: 20px;
}
#historia {
    width: 150px;
    height: 150px;
}

#final {
    width: 30%;
    height: 30%;
}